.App-header {
  border-bottom: 3px solid #E0434C;
  display: flex;
  align-items: center;
  height: 162px;
  width: 100%;
}
.App-header img {
  height: stretch;
}
.App-header h1 {
  color: #E0434C;
  font-weight: 900;
  font-size: 2rem;
}
#logoutSection {
  padding-right: 1.5rem;
  margin-left: auto;
}
#logoutSection span {
  color: #E0434C;
  font-weight: 900;
  cursor: pointer;
}
